Application Data/*
Local Settings/*
Cookies/*
Desktop/*
Favorites/*
My Documents/*
Recent/*
Start Menu/*
Templates/*
ntuser*
NTUSER.DAT
NetHood/*
SendTo/*
.ssh/*
.subversion/*
UserData/*
.gitk
.gitp4-usercache.txt
.p4qt/*
p4tickets.txt
_viminfo
.vimprojects
.appcfg_nag
PrivacIE/*
.bash_history
.vimfuzzyfinder
.cvspass
*.swp
__*
*.tmp
gdbtk.ini
.netbeans/*
