Application Data/*
Local Settings/*
Cookies/*
Desktop/*
Favorites/*
My Documents/*
Recent/*
Start Menu/*
Templates/*
ntuser*
NTUSER.DAT
NetHood/*
SendTo/*
.ssh/*
.subversion/*
UserData/*
.gitk
.gitp4-usercache.txt
.p4qt/*
p4tickets.txt
_viminfo
.vimprojects
.appcfg_nag
PrivacIE/*
.bash_history
.vimfuzzyfinder
.cvspass
*.swp
__*
*.tmp
gdbtk.ini
.netbeans/*
.matplotlib
.ICEauthority
.Xauthority
.cache/*
.compiz/*
.config/*
.evolution/*
.fontconfig/*
.fonts/*
.gconf/*
.gconfd/*
.gimp-2.4/*
.gnome2/*
.gnupg/*
.gstreamer-0.10/*
.gtwitter/*
.gvfs/*
.inkscape/*
.java/*
.jungledisk/*
.kde/*
.local/*
.macromedia/*
.mcop/*
.metacity/*
.mozilla/*
.nautilus/*
.openoffice.org2/*
.pulse/*
.purple/*
.qt/*
.slime/*
.thumbnails/*
.transmission/*
.update-manager-core/*
.update-notifier/*
.vim/*
.vmware/*
clbuild/*
code/*
diff3/*
gtest-1.0.1/*
llarc/*
mz/*
premake4/*
restaurhost/*
test/*
testlisp/*
tweat/*
vmware/*
weblocks/*
worksheets/*
.Skype/*
.Torrent Episode Downloader/*
.appcfg_cookies
.bash_logout
.bashrc
.dmrc
.esd_auth
.gksu.lock
.gtk-bookmarks
.inputrc
.junglediskinstance
.limp_bridge_channel-99.14437
.limp_bridge_channel-cl-user.8644
.limp_bridge_channel-main.6232
.limp_bridge_channel-stuff.8686
.limp_bridge_channel-stuff.8869
.limp_bridge_channel-test.16366
.limp_bridge_channel-test.6690
.limp_bridge_channel-test.6881
.mcoprc
.nvidia-settings-rc
.profile
.pulse-cookie
.recently-used
.recently-used.xbel
.sbcl_history
.sudo_as_admin_successful
.viminfo
.xsession-errors
xjam/*
